main {
    font-family: "Inter";
    .keyword {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .keywordWrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        h1 {
          font-weight: 700;
          font-size: 32px;
          line-height: 39px;
          color: #2d2d2d;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #a445ed;
        }
      }
      img {
        width: 48px;
        cursor: pointer;
      }
    }
    .partOfSpeech {
      display: flex;
      flex-direction: column;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          padding-left: 30px;
          position: relative;
          span {
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: #8f19e8;
            margin-right: 5px;
            border-radius: 50%;
            position: absolute;
            left: 7px;
            top: 7px;
          }
        }
      }
      .meaning {
        font-size: 16px;
        line-height: 19px;
        color: #757575;
      }
      .partOfSpeechHeader {
        margin-top: 31px;
        display: flex;
        align-items: center;
        gap: 25px;
        h3 {
          font-style: italic;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #2d2d2d;
        }
        hr {
          width: 100%;
          background: #e9e9e9;
          border: none;
          height: 1px;
        }
      }
      p {
        margin-top: 34px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-top: 17px;
      }
    }
    .source {
      margin-top: 32px;
      padding-top: 26px;
      border-top: 1px solid #e9e9e9;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-decoration-line: underline;
        color: #757575;
        margin-bottom: 10px;
      }
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        display: flex;
        gap: 8px;
        align-items: center;
        a {
          text-decoration: none;
          color: #2d2d2d;
        }
      }
    }
  }
  .errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    h1 {
      font-size: 3rem;
    }
    h2 {
      margin-top: 2.75rem;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #2d2d2d;
      margin-bottom: 1.5rem;
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #757575;
    }
  }
  main.dark {
    background-color: #050505;
    .keyword {
      .keywordWrap {
        h1 {
          color: white;
        }
      }
    }
    .partOfSpeech {
      .partOfSpeechHeader {
        h3 {
          color: white;
        }
        hr {
          background: #3a3a3a;
        }
      }
      ul {
        li {
          color: white;
        }
      }
    }
    .source {
      a {
        color: white;
      }
    }
  }
  .errorPage.dark {
    background-color: #050505;
    h1 {
      color: white;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
  @media screen and (min-width: 1440px) {
    main {
      .keyword {
        img {
          width: 75px;
        }
        .keywordWrap {
          h1 {
            font-size: 64px;
          }
          p {
            margin-top: 8px;
            font-size: 24px;
          }
        }
      }
      .partOfSpeech {
        .partOfSpeechHeader {
          h3 {
            font-size: 24px;
          }
        }
        .meaning {
          font-size: 20px;
        }
        ul {
          margin-top: 25px;
          li {
            font-size: 18px;
          }
        }
      }
      .source {
        display: flex;
        align-items: center;
        gap: 25px;
        p {
          margin-bottom: 0;
        }
        span {
          cursor: pointer;
        }
      }
    }
  }
  